html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  background-image: url("./image/blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}


.App {
  height: 100%;

}

